.App {
  text-align: center;
}

.App-header {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  height: 40rem;

  > * {
    &:first-child {flex: 1}
  }

  > .other-event {
    > div {
      display: flex;
      flex-direction: column;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}
